html
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= title
body

    h3 List of Customers

    table
        tr
            th Id
            th name
            th Telephone
            th Email
            th Edit
            th Delete

        each item in customers
            tr
                td 
                    a(href='customers/edit/#{item.id}') #{item.id}
                td #{item.name}
                td #{item.telephone}
                td #{item.email}
                td
                    a(href='customers/edit/#{item.id}') Edit
                td
                    a(href='customers/delete/#{item.id}') Delete

    div
        a(href='customers/create') Add new Customer

    